asgiref==3.7.2
blinker==1.4
certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.1
crispy-bootstrap4==2022.1
pycairo == 1.15.10
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
Django==4.2.5
django-crispy-forms==2.0
django-rest-passwordreset==1.3.0
docutils==0.20.1
fonttools==4.42.1
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
markdown-it-py==3.0.0
matplotlib==3.8.0
mdurl==0.1.2
more-itertools==8.10.0
netifaces==0.11.0
networkx==3.1
nh3==0.2.14
numpy==1.26.0
oauthlib==3.2.0
packaging==23.1
Pillow==10.0.1
pkginfo==1.9.6
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.5.2
scipy==1.11.3
SecretStorage==3.3.1
six==1.16.0
sqlparse==0.4.4
systemd-python==234
twine==4.0.2
typing_extensions==4.7.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
zipp==1.0.0
