{% extends "feed/base.html" %}

{% block content %}

    
    <div class="content-section" style="background-color:Linen ;">
        
            <h1 class = "mb-10">Your posts</h1>
        <div class="article-metadata">
            {% with post1=user_posts.0 %}
            <h3 class = "mb-10">DankScore: {{ total_likes }}</h2>
                <h3 >Total likes given: {{ post1.author.profile.total_likes }}</h3>
            {% endwith %}
        </div>

        
        
    </div>
        {% for post in user_posts %}
            <article class="media content-section" style="background-color:Linen ;">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% if post.meme %}
                <img src="{{ post.meme }}" width="200" height="220"> 
                {% endif %}
                </div>
                {% if user.is_authenticated %}
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-left: -0.16rem;"></i>
                <p><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.post_likes.count }} Likes</a></p>
                {% else %}
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-left: -0.16rem;"></i>
                <p><span title=" Log in to like "><a class="article-title"href="{% url 'login' %}">{{ post.post_likes.count }} Likes</a></span></p>
                {% endif %}
            </article>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    <section>
        <button class="btn btn-outline-info">View more</button>
    </section>
    <section>

        

{% endblock content %}

